# User specific

/shelf/
/workspace.xml

# Gradle

/gradle.xml
/libraries/

# Gradle and Maven with auto-import

/*.iml
/artifacts/
/compiler.xml
/jarRepositories.xml
/modules.xml
/modules/

/misc.xml
/vcs.xml
